# This file and its contents are licensed under the Apache License 2.0.
# Please see the included NOTICE for copyright information and LICENSE for a copy of the license.

{{- with coalesce .Values.config .Values.configs }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.configMapName" $ }}
  namespace: {{ template "common.namespace" $ }}
  annotations:
  {{- if not $.Values.disableAnnotationTimestamp }}
    deployment-timestamp: "{{ date "20060102150405" now }}"
  {{- end }}
data:
  HASURA_GRAPHQL_ENABLE_CONSOLE: {{ coalesce .enableConsole false | quote }}
{{- range $key, $value := (coalesce .extraConfigs .additionalConfigs) }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
