# This file and its contents are licensed under the Apache License 2.0.
# Please see the included NOTICE for copyright information and LICENSE for a copy of the license.

{{- with coalesce .Values.secret .Values.secrets }}
{{- if .enabled }}
{{ $hgeRedisUrl := tpl .redisUrl $ }}
{{ $hgeRateLimitRedisUrl := tpl .rateLimitRedisUrl $ }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.secretsName" $ }}
  namespace: {{ template "common.namespace" $ }}
  annotations:
  {{- if not $.Values.disableAnnotationTimestamp }}
    deployment-timestamp: "{{ date "20060102150405" now }}"
  {{- end }}
data:
{{- if coalesce .metadataDbUrl ($.Values.config).metadataOnly  }}
  HASURA_GRAPHQL_METADATA_DATABASE_URL: {{ include "db.url" $ | b64enc | quote }}
{{- else }}
  HASURA_GRAPHQL_DATABASE_URL: {{ include "db.url" $ | b64enc | quote }}
{{- end }}
  HASURA_GRAPHQL_ADMIN_SECRET: {{ .adminSecret | b64enc | quote }}
{{- if .adminSecrets }}
  HASURA_GRAPHQL_ADMIN_SECRETS: {{ toRawJson .adminSecrets | b64enc | quote }}
{{- end }}
{{- if .eeLicenseKey }}
  HASURA_GRAPHQL_EE_LICENSE_KEY: {{ .eeLicenseKey | b64enc | quote }}
{{- else if .proKey }}
  HASURA_GRAPHQL_PRO_KEY: {{ .proKey | b64enc | quote }}
{{- end }}
{{- if .jwtSecret }}
  HASURA_GRAPHQL_JWT_SECRET: {{ toRawJson .jwtSecret | b64enc | quote }}
{{- end }}
{{- if .jwtSecrets }}
  HASURA_GRAPHQL_JWT_SECRETS: {{ toRawJson .jwtSecrets | b64enc | quote }}
{{- end }}
{{- if $hgeRedisUrl }}
  HASURA_GRAPHQL_REDIS_URL: {{ $hgeRedisUrl | b64enc | quote }}
{{- end }}
{{- if $hgeRateLimitRedisUrl }}
  HASURA_GRAPHQL_RATE_LIMIT_REDIS_URL: {{ $hgeRateLimitRedisUrl | b64enc | quote }}
{{- end }}
{{- if .ssoProviders }}
  HASURA_GRAPHQL_SSO_PROVIDERS: {{ toRawJson .ssoProviders | b64enc | quote }}
{{- end }}
{{- if .metricsSecret }}
  HASURA_GRAPHQL_METRICS_SECRET: {{ .metricsSecret | b64enc | quote }}
{{- end }}
{{- range $key, $value := (coalesce .extraSecrets .data) }}
  {{ $key }}: {{ $value | b64enc | quote }}
{{- end }}
{{- end }}
{{- end }}