# This file and its contents are licensed under the Apache License 2.0.
# Please see the included NOTICE for copyright information and LICENSE for a copy of the license.

{{- $appName := include "mdc.name" . -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $appName }}
  namespace: {{ template "common.namespace" . }}
  annotations:
  {{- if or (.Values.service).annotations (.Values.service).additionalAnnotations}}
    {{- toYaml (coalesce .Values.service.annotations .Values.service.additionalAnnotations) . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "mdc.labels" . | nindent 4 }}
  {{- with (.Values.service).labels }}
    {{- toYaml .  | nindent 4 }}
  {{- end }}
spec:
  selector:
    app: {{ $appName }}
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  type: {{ coalesce (.Values.service).type "ClusterIP" }}

